[submodule "Limine"]
	path = Limine
	url = https://codeberg.org/Limine/Limine
	branch = v11.x-binary
[submodule "limine-protocol"]
	path = common/include/limine-protocol
	url = https://codeberg.org/Limine/limine-protocol
[submodule "yuki/source/hal/flanterm"]
	path = yuki/source/hal/flanterm
	url = https://codeberg.org/mintsuki/flanterm.git
