[submodule "Limine"]
	path = Limine
	url = https://github.com/Limine-Bootloader/Limine
	branch = v11.x-binary
[submodule "limine-protocol"]
	path = common/include/limine-protocol
	url = https://github.com/Limine-Bootloader/limine-protocol
[submodule "yuki/source/hal/flanterm"]
	path = yuki/source/hal/flanterm
	url = https://github.com/mintsuki/flanterm
[submodule "subprojects/uacpi"]
	path = subprojects/uacpi
	url = https://github.com/uACPI/uACPI.git
